services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=scrtlyData'
      - 'POSTGRES_PASSWORD=netlab12'
      - 'POSTGRES_USER=postgres'
    container_name: 'scrtlyData'
    ports:
      - '5432:5432'
    networks:
      - scrtly-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    command: >
      sh -c "rabbitmq-plugins enable --offline rabbitmq_stomp rabbitmq_web_stomp &&
             rabbitmq-server"
    ports:
    - '5672:5672'
    - '15672:15672'
    - '61613:61613'
    - '15674:15674'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - scrtly-network

  redis:
    image: redis:latest
    container_name: scrtly_redis
    ports:
      - '6379:6379'
    networks:
      - scrtly-network
    volumes:
      - redis-data:/data

#  app:
#    image: scrtly_backend:latest
#    build: .
#    ports:
#      - "8080:8080"
#    environment:
#      - SPRING_RABBITMQ_HOST=rabbitmq
#      - SPRING_RABBITMQ_PORT=5672
#    depends_on:
#      - postgres
#      - rabbitmq
#    networks:
#      - scrtly-network

networks:
  scrtly-network:
    driver: bridge

volumes:
  redis-data: