.albumsView, .artistsView, .artistAlbums, .fans{
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(7, 7, 7, 0.575);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .banner {
        height: 26vh;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100);
        }

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5rem;
            background-image: linear-gradient(transparent, rgb(0, 0, 0));
        }
    }

    .searchBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 3vh;
        height: 6vh;
        margin-bottom: 3vh;

        .search {
            width: 25vh;
            height: 45px;
            position: relative;
            color: aliceblue;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);

            input {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background: rgba(255, 255, 255, 0.63);
                padding-left: 45px;
                color: black;
                font-size: 14px;
                font-weight: bold;

            }

            .searchIcon {
                position: absolute;
                color: aliceblue;
                top: 0;
                left: 0;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                font-size: 20px;
            }
        }

        button {
            outline: none;
            border: none;
            padding: 10px 15px;
            background: aqua;
            color: black;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .albums, .artists, .users{
        display: flex;

        flex-wrap: wrap;
        width: 100%;
        height: 62vh;
        gap:8vh 12vh;
        padding: 1vh 5vh;
        overflow: scroll;

        .album, .artist, .user{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 4;
            position: relative;
            background-color: rgba(0, 0, 0, 0.38);
            padding: 20px;
            border-radius: 8px;
            width: 29vh;
            height: 34vh;
            box-shadow: 0px 8px 15px rgba(35, 35, 35, 0.4);
            transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.6);

                img {
                    filter: grayscale(100);
                }

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition:  0.3s;
            }

            span, p {
                font-size: 15px;
                color: white;
            }
            span {
                color: #cdcdcd;
            }
            p {
                font-family: cursive;
                font-size: 20px;
                font-weight: bold;
            }
            .play, .listen, .push {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
                font-size: 4vh;
                opacity: 0;
                color: aqua;
                transition: opacity 0.3s ease-in-out;
                pointer-events: none;
            }

            .listen, .push {
                display: flex;
                height: 5vh;
                width: 5vh;
                background: aqua;
                color: black;
                border-radius: 100%;
                font-size: 3vh;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                .play, .listen, .push {
                    opacity: 1;
                }
            }


        }

        .artist, .user {
            .imgPic {
                width: 25vh;
                height: 25vh;
                position: relative;
                .check {
                    height: 4vh;
                    width: 4vh;
                    position: absolute;
                    right: 1vh;
                    bottom: 1vh;
                }
            }

            p {
                margin-top: 1vh;
            }
        }
        .user .check {
            display: none;
        }
    }
}

.artistAlbums, .fans{
    width: 100%;
    background: none;
    backdrop-filter: blur(0px);

    .albums, .users{
        margin-top: 1vh;
    }
}

@media screen and (max-width: 550px) {
    .albumsView, .artistsView {
        .searchBox {
            .search {
                width: 60%;
            }
        }

        .albums, .artists {
            display: flex;
            justify-content: center;
            grid-template-columns: repeat(1, 1fr);
            gap: 4vh 12vh;

            .album {
                height: 37vh;
            }
        }
    }

}