.albumDetail, .playListDetail {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(7, 7, 7, 0.575);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .topSection {
        background: rgba(0, 0, 0, 0.329);
        display: flex;
        width: 100%;
        height: 35vh;
        padding: 5vh 10vh;
        gap: 5vh;
        color: white;
        position: relative;

        img {
            width: 25vh;
            height: 25vh;
            object-fit: cover;
            border-radius: 10px;
        }

        .albumData, .playListData {
            height: 25vh;
            align-content: end;

            .albumName, .playListName {
                font-size: 10vh;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                letter-spacing: 2vh;
                word-spacing: 2vh;
            }

            p {
                font-size: 16px;
            }

            .stats {
                margin-top: 1vh;
            }

            span {
                color: rgb(175, 177, 177);
            }
        }

        .buttons {
           display: flex;
           position: absolute;
            bottom: 2vh;
            right: 2vh;
            gap: 2vh;
            align-items: flex-end;

            .addSongBtn, .deleteAlbumBtn {
                width: 10vh;
                height: 4vh;
                text-align: center;
                outline: none;
                border: none;
                padding: 10px;
                background: aqua;
                color: black;
                font-size: 13px;
                font-weight: bold;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;
            }

            .deleteAlbumBtn {
                height: 5vh;
            }

            .addSongBtn:hover, .delteAlbumBtn:hover {
                background: rgb(4, 214, 214);
            }
        }
    }
}




@media screen and (max-width: 1400px){
    .albumDetail, .playListDetail {
        .topSection {
            height: 30vh;
            img {
                width: 20vh;
                height: 20vh;
            }

            .albumData, .playListData {
                height: 20vh;

                .albumName, .playListName {
                    font-size: 8vh;
                }

                p {
                    font-size: 15px;
                }
            }

            .buttons {
                .addSongBtn, .deleteAlbumBtn {
                    width: 8vh;
                    height: 3vh;
                    padding: 5px;
                    font-size: 11px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .albumDetail, .playListDetail {
        .topSection {
            height: 26vh;
            padding: 5vh 6vh;
            gap: 4vh;
            img {
                width: 15vh;
                height: 15vh;
            }

            .albumData, .playListData {
                height: 15vh;

                .albumName, .playListName {
                    font-size: 7vh;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}



@media screen and (max-width: 1000px){
    .albumDetail, .playListDetail {
        .topSection {
            height: 24vh;
            padding: 5vh 4vh;
            gap: 2vh;
            img {
                width: 13vh;
                height: 13vh;
            }

            .albumData, .playListData {
                height: 13vh;

                .albumName, .playListName {
                    font-size: 6vh;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-height: 1000px){
    .albumDetail, .playListDetail {
        .topSection {

            .buttons {

                .addSongBtn, .deleteAlbumBtn {
                    width: 10vh;
                    height: 5vh;
                }

                .deleteAlbumBtn {
                    height: 5vh;
                }
            }
        }
    }
}

@media screen and (max-width: 840px){
    .albumDetail, .playListDetail {
        .topSection {
            height: 22vh;
            padding: 5vh 2vh;
            gap: 2vh;
            img {
                width: 10vh;
                height: 10vh;
            }

            .albumData, .playListData {
                height: 10vh;

                .albumName, .playListName {
                    font-size: 4vh;
                    letter-spacing: 1vh;
                }

                p {
                    font-size: 13px;
                }

            }
        }
    }
}

@media screen and (max-width : 550px) {
    .albumDetail, .playListDetail {
        .topSection {

            .albumData, .playListData {
                align-content: flex-start;

                p {
                    font-size: 12px;
                }

            }

            .buttons {
                .addSongBtn, .deleteAlbumBtn, .deletePlayListBtn {
                    width: 8vh;
                    height: 4vh;
                    top: 6vh;
                    right: 2vh;
                    padding: 5px;
                    font-size: 10px;
                }
            }

        }
        .audioList .songsBox {
            height: 370px;
        }
    }
}

