.chatView {
    height: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(31, 31, 31, 0.596);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
}

.chatView .chat {
    flex: 3;
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatView .chatList {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatView .chatList .userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .chatListBtn {
        display: none;
        color: white;
        margin-right: 15px;
        font-size: 24px;
        cursor: pointer;
    }
}

.userInfo .user {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        width: 50px;
        height: 50px;
        background: rgb(98, 98, 104);
        border-radius: 50%;
        object-fit: cover;
    }

    h2 {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
}

.userInfo .icons {
    display: flex;
    gap: 20px;

    i {
        width: 20px;
        color: white;
    }
}

.chatUserList {
    flex: 1;
    overflow: scroll;

    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 20px;
            background: rgba(10, 10, 10, 0.63);
            border-radius: 10px;
            padding: 10px;

            input {
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
                flex: 1;
            }

            i {
                color: white;
            }
        }

        .addUserBtn {
            width: 36px;
            height: 36px;
            background: rgba(10, 10, 10, 0.63);
            padding: 10;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }
    }

    .userItem {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgb(136, 136, 136);

        img {
            height: 50px;
            width: 50px;
            background: rgb(15, 15, 15);
            object-fit: cover;
            border-radius: 50%;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
                color: white;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: white;
            }
        }
    }
}


.chat {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid rgb(136, 136, 136);

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background: rgb(0, 0, 0);
                object-fit: cover;
            }

            .userData {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    color: white;
                    font-weight: bold;
                }

                p {
                    font-weight: 300;
                    font-size: 14px;
                    color: gray;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            i {
                color: white;
                font-size: 16px;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            img {
                width: 30px;
                height: 30px;
                background: rgb(0, 0, 0);
                object-fit: cover;
            }


        }

        .text {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 5px;

            img {
                width: 100%;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
            }

            p {
                background: rgb(52, 52, 54);
                padding: 20px;
                border-radius: 10px;
                color: white;
            }

            span {
                color: white;
                font-size: 13px;
            }
        }

        .messageOwn {
            align-self: flex-end;

            .text {
                gap: 5px;

                p {
                    background: rgb(154, 156, 156);
                    color: black;
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-top: 1px solid rgb(136, 136, 136);
        gap: 20px;
        margin-top: auto;

        .icons {
            display: flex;
            gap: 20px;
        }

        i {
            color: white;
            font-size: 18px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background: rgba(10, 10, 10, 0.63);
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            font-size: 16px;
            border-radius: 10px;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                z-index: 5;
                bottom: 35px;
                left: -225px;
            }
        }

        .sendButton {
            background: rgb(51, 51, 56);
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.addUser {
    width: max-content;
    height: max-content;
    padding: 30px;
    position: absolute;
    border-radius: 10px;
    background: rgba(19, 19, 20, 0.815);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    form {
        display: flex;
        gap: 20px;

        input {
            border: none;
            outline: none;
            padding: 15px;
            border-radius: 10px;
        }

        button {
            padding: 15px;
            border-radius: 10px;
            background: rgb(53, 53, 53);
            border: none;
            cursor: pointer;
            color: white;
        }
    }

    .user {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
                background: black;
            }

            span {
                color: white;
            }
        }

        button {
            padding: 10px;
            border-radius: 10px;
            background: rgb(53, 53, 53);
            border: none;
            cursor: pointer;
            color: white;
        }
    }
}


@media screen and (max-width: 550px) {
    .chatList {
        z-index: 6;
        background: rgb(37, 37, 37);
    }

    .chatView .chatList .userInfo {
        padding: 10px;

        .user {
            gap: 10px;

            img {
                height: 45px;
                width: 45px;
            }

            h2 {
                font-size: 18px;
            }
        }

        .icons {
            gap: 10px;
            margin-left: 10px;

            i {
                width: 20px;
            }
        }

        .chatListBtn {
            display: block;
        }

    }

    .chatView .chatList.hidden {
        width: 40px;
        background: transparent;
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;

        .userInfo {
            .chatListBtn {
                position: absolute;
                top: 45%;
                left: 50px;
            }

            .user,
            .icons {
                display: none;
            }
        }

        .chatUserList {
            display: none;
        }
    }

    .chatView .chatList.visible {
        position: absolute;
        transform: translateX(0);
        transition: transform 0.2s ease-in-out;
    }

    .chatUserList {
        .userItem {
            gap: 15px;

            img {
                height: 45px;
                width: 45px;
            }

            .text {
                gap: 5px;
            }
        }
    }

    .chat .top {
        justify-content: left;
        padding: 10px;

        .user {
            gap: 10px;

            img {
                height: 45px;
                width: 45px;
            }

            .userData {
                gap: 5px;

                span {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .icons {
            gap: 10px;
            margin-left: 20%;
        }
    }

    .chat .center {
        padding: 20px;
        gap: 20px;

        .message {
            max-width: 40%;
            gap: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .text {
            gap: 5px;

            img {
                width: 100%;
                height: 300px;
            }

            p {
                padding: 10px;
                max-width: 72%;

                word-wrap: break-word;

                white-space: normal;

            }
        }

        .messageOwn {
            .text {
                gap: 5px;
            }
        }
    }

    .chat .bottom {
        gap: 10px;
        padding: 10px;
        justify-content: left;

        .icons {
            gap: 10px;
        }

        input {
            padding: 15px;
            max-width: 38%;
        }

        .sendButton {
            padding: 10px 10px;
        }
    }
}