.discoverView {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(31, 31, 31, 0.596);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.discover {
    display: flex;
    flex-direction: column;

    .stories {
        width: 100%;
        height: 18vh;
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .box {
            display: flex;
            flex-wrap: nowrap;
            background: rgba(15, 15, 15, 0.651);
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.699) 0px 13px 27px -5px,
                rgba(2, 2, 2, 0.671) 0px 8px 16px -8px;
            width: 80%;
            height: 15vh;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 32px;
            padding: 2vh;

            .story {
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: pointer;

                img {
                    width: 80px;
                    height: 80px;
                    background: rgb(59, 59, 65);
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid rgb(1, 247, 1);
                }

                span {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    .addPost {
        width: 100%;
        height: 18vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addPost .context {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(15, 15, 15, 0.651);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.699) 0px 13px 27px -5px,
            rgba(2, 2, 2, 0.671) 0px 8px 16px -8px;
        width: 65%;
        height: 13vh;
        padding: 2vh 4vh;
        gap: 10px;

        img {
            width: 60px;
            height: 60px;
            background: rgb(59, 59, 65);
            border-radius: 50%;
            object-fit: cover;
        }

        .middle {
            display: flex;
            flex-direction: column;
            flex: 1;

            textarea {
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.315);
                padding: 10px;
                width: 100%;
                height: 6vh;
                color: white;
                font-size: 14px;
                resize: vertical;

            }

            .attachments {
                display: flex;
                gap: 10px;
                padding: 5px;

                .attachment {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: rgba(255, 255, 255, 0.836);

                    i {
                        font-size: 18px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            button {
                outline: none;
                border: none;
                padding: 8px;
                background: aqua;
                color: black;
                font-size: 12px;
                font-weight: bold;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                background: rgb(4, 214, 214);
            }

            .emoji {
                cursor: pointer;
                color: rgba(255, 255, 255, 0.836);

                i {
                    font-size: 20px;
                }
            }
        }
    }

    .feed {
        width: 100%;
        height: 61vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .posts {
            display: flex;
            flex-direction: column;
            overflow: scroll;
            background: rgba(15, 15, 15, 0.651);
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.699) 0px 13px 27px -5px,
                rgba(2, 2, 2, 0.671) 0px 8px 16px -8px;
            width: 65%;
            height: 59vh;
            padding: 2vh 4vh;
            gap: 10px;
        }

        .post {
            display: flex;
            flex-direction: column;
            height: 59vh;
            padding: 0 12vh;
            gap: 1vh;

            .up {
                width: 100%;
                display: flex;
                gap: 20px;
                align-items: center;
                position: relative;
                i {
                    right: 1vh;
                    position: absolute;
                    color: white;
                    font-size: 22px;
                    cursor: pointer;
                }

                ul {
                    position: absolute;
                    right: 0vh;
                    top: 5vh;
                    width: 7vh;
                    background: white;
                    list-style: none;
                    padding: 5px;
                    border-radius: 10px;

                    .option {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        height: 3vh;
                        background: #fff;
                        padding: 0 1vh;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s;
                        text-align: center;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    

                    .option:hover {
                        background: aqua;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    background: rgb(59, 59, 65);
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userData {
                    color: rgba(255, 255, 255, 0.836);
                    font-size: 18px;
                    font-weight: 600;

                    span {
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
            }

            .middle {
                width: 100%;
                height: 38vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .description {
                width: 100%;
                height: 2vh;

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: white;
                }
            }

            .bottom {
                display: flex;
                width: 100%;
                gap: 30px;
                padding: 5px;

                .likes,
                .comments {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: rgba(255, 255, 255, 0.836);
                    cursor: pointer;

                    i {
                        font-size: 20px;
                    }
                }
            }

        }
    }
}

.postView {
    width: 90%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    background: rgba(19, 19, 20, 0.945);
    top: 9vh;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .cancel {
        position: absolute;
        right: 1vh;
        top: 1vh;
        font-size: 24px;
        color: wheat;
        cursor: pointer;
    }

    .imgPost {
        flex: 5;
        width: 100%;
        max-width: 100vh;
        max-height: 60vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .commentsSection {
        flex: 2;
        width: 100%;
        max-width: 400px;
        height: 60vh;
        overflow-y: auto;

        img {
            width: 45px;
            height: 45px;
            background: rgb(59, 59, 65);
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            color: rgba(255, 255, 255, 0.952);
            font-size: 16px;
            font-weight: bold;
        }

        .up {
            display: flex;
            align-items: center;
            gap: 2vh;
        }

        hr {
            margin-top: 1.5vh;
        }

        .comments {
            margin-top: 1vh;
            height: 41vh;
            overflow-y: scroll;
        }

        .comment {
            display: flex;
            gap: 10px;
            align-items: flex-start;
            margin-bottom: 10px;

            .context {
                display: flex;
                flex-direction: column;
                color: rgba(255, 255, 255, 0.719);

                span {
                    font-size: 13px;
                    display: block;
                    word-break: break-word;
                    max-width: 100%;
                    white-space: normal;
                }

                .info {
                    color: rgba(255, 255, 255, 0.425);
                    display: flex;
                    gap: 1vh;
                }
            }

            i {
                font-size: 25px;
                color: white;
                margin-left: 2vh;
                margin-top: 1vh;
            }
        }

        .addComment {
            margin-top: 2vh;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            gap: 1vh;
            i {
                color: white;
                font-size: 20px;
            }

            button {
                outline: none;
                border: none;
                padding: 8px;
                background: aqua;
                color: black;
                font-size: 12px;
                font-weight: bold;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                background: rgb(4, 214, 214);
            }

            textarea {
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: rgba(77, 77, 77, 0.315);
                padding: 10px;
                width: 80%;
                height: 6vh;
                color: white;
                font-size: 14px;
                resize: vertical;
            }
        }
    }
}


@media screen and (max-width : 550px) {
    .discoverView {
        width: 50vh;
    }

    .discover {
        .stories {
            width: 100%;
            height: 16vh;
            margin-top: 1vh;

            .box {
                width: 90%;
                height: 12vh;
                gap: 34px;
                padding: 2vh;

                .story {
                    img {
                        width: 50px;
                        height: 50px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }

        .addPost .context {
            width: 90%;
            height: 13vh;
            padding: 1vh 2vh;

            img {
                width: 40px;
                height: 40px;
            }

            .middle {
                textarea {
                    font-size: 12px;
                }

                .attachments {
                    .attachment {
                        i {
                            font-size: 14px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            .right {
                .emoji {
                    i {
                        font-size: 16px;
                    }
                }
            }
        }

        .feed {
            .posts {
                width: 90%;
                height: 60vh;
                padding: 2vh 2vh;
            }

            .post {
                width: 100%;
                height: 59vh;
                padding: 0 0.5vh;

                .up {
                    gap: 10px;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    .userData {
                        font-size: 16px;

                        span {
                            font-size: 10px;
                        }
                    }
                }

                .description {
                    width: 100%;
                    height: 2vh;

                    p {
                        font-size: 14px;
                    }
                }

                .bottom {

                    .likes,
                    .comments {

                        gap: 5px;

                        i {
                            font-size: 16px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }

            }
        }

        .postView {
            flex-direction: column;
            padding: 10px;
            gap: 15px;
        }

        .imgPost {
            width: 100%;
            height: 40vh;
        }

        .commentsSection {
            width: 100%;
            height: auto;

            img {
                width: 35px;
                height: 35px;
            }

            p {
                font-size: 15px;
            }
        }
    }


}