.error-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    flex-grow: 1;
    flex-direction: column;
    background-color: var(--bg-color20);
}

.error-alert .error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.error-details {
    display: flex;
    flex-direction: column;
    p {
        margin-top: 1rem;
        font-size: 2vh;
        color: var(--text-primary);
        text-align: center;
        padding: 0 1rem;
        word-wrap: break-word;
    }
}



