.homeBox {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  flex-grow: 1;
  background: var(--bg-color);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.trending {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);

  img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }

  .left {
    .info {
      margin-top: 12px;
      padding: 26px;

      h2 {
        font-size: 56px;
        margin-bottom: 8px;
      }

      h4,
      h5 {
        display: inline;
      }

      h5 {
        margin-left: 12px;
        color: var(--text-secondary);
      }

      .buttons {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 16px;

        button {
          padding: 12px 16px;
          background-color: var(--button-color);
          border: none;
          border-radius: 14px;
          color: var(--button-text);
          font-weight: bold;
          cursor: pointer;
        }

        i {
          color: var(--button-color);
          height: 44px;
          width: 44px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          padding: 8px;
          border-radius: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

.onTime {
  margin-top: 14px;
  display: flex;
  gap: 20px;

  .albums .header,
  .musicList .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .albums .header a,
  .musicList .header a {
    color: var(--text-header);
    font-size: 12px;
    text-decoration: none;
  }

  .albums {
    color: var(--text-primary);
    background-color: var(--bg-color2);
    padding: 20px;
    border-radius: 6px;
    width: 40%;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      .item {
        padding: 22px 10px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        gap: 10px;
        transition: 0.3s ease-in-out;

        .imgPic {
          position: relative;

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            font-size: 2.5vh;
            opacity: 0;
            color: var(--button-color);
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
          }
        }

        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          border-radius: 10px;
        }

        span,
        p {
          font-size: 15px;
          color: var(--text-primary);
        }

        span {
          color: var(--text-secondary2);
        }

        p {
          font-family: cursive;
          font-size: 20px;
          font-weight: bold;
        }

        &:hover {
          i {
            opacity: 1;
          }
        }
      }

      .item:nth-child(1) {
        background-color: var(--bg-color-home1);

        &:hover {
          background-color: var(--bg-color-home2);
        }
      }

      .item:nth-child(2) {
        background-color: var(--bg-color-home3);

        &:hover {
          background-color: var(--bg-color-home4);
        }
      }

      .item:nth-child(3) {
        background-color: var(--bg-color-home5);

        &:hover {
          background-color: var(--bg-color-home6);
        }
      }

      .item:nth-child(4) {
        background-color: var(--bg-color-home7);

        &:hover {
          background-color: var(--bg-color-home8);
        }
      }

      .item:nth-child(5) {
        background-color: var(--bg-color-home9);

        &:hover {
          background-color: var(--bg-color-home10);
        }
      }

      .item:nth-child(6) {
        background-color: var(--bg-color-home11);

        &:hover {
          background-color: var(--bg-color-home12);
        }
      }
    }
  }

  .musicList {
    background-color: var(--bg-color2);
    color: var(--text-primary);
    padding: 20px;
    border-radius: 6px;
    width: 65%;

    .items {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
        border-radius: 15px;
        will-change: transform;
        padding: 10px;

        &:hover {
          box-shadow: var(--shadow2);
        }

        .info,
        .actions {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .info {
          p {
            color: var(--text-secondary3);
            font-size: 12px;
            font-weight: bold;
            margin-top: 6px;
          }

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .actions {
          p {
            font-size: 13px;
            font-weight: bold;
          }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--text-secondary3);
            padding: 6px;
            border: 2px solid #464748;
            border-radius: 6px;

            i {
              font-size: 10px;
              color: var(--button-color);
            }
          }

          i {
            color: var(--text-secondary3);
            cursor: pointer;
          }
        }
      }

      .item:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.favouriteArtists {
  width: 100%;
  height: auto;
  margin-top: 3vh;
  gap: 20px;
  padding: 20px;
  background-color: var(--bg-color2);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--text-primary);
    font-size: 24px;

    a {
      color: var(--text-header);
      font-size: 14px;
      text-decoration: none;
    }
  }

  .artists {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;

    .item {
      color: var(--text-primary);
      display: flex;
      flex-direction: column;
      width: 17vh;
      height: 20vh;
      padding: 1vh;
      align-items: center;
      transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
      border-radius: 15px;
      box-shadow: var(--shadow2);
      will-change: transform;

      &:hover {
        transform: scale(1.08);
        cursor: pointer;
      }

      .imgPic {
        position: relative;

        img {
          width: 13vh;
          height: 13vh;
          border-radius: 50%;
          object-fit: cover;
        }

        i {
          position: absolute;
          right: 0.5vh;
          bottom: 0.5vh;
          font-size: 4vh;
          color: var(--button-color);
        }
      }

      .data {
        align-self: flex-start;

        p {
          font-size: 18px;
          font-weight: bold;
        }

        span {
          font-size: 12px;
          color: var(--text-secondary3);
        }
      }
    }
  }
}

@media screen and (max-width: 1900px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(8) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(7) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(6) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .trending {
    img {
      width: 200px;
      height: 180px;
    }

    .left {
      .info {
        h2 {
          font-size: 36px;
        }
      }
    }
  }

  .onTime {
    .albums {
      width: 30%;

      .items {
        grid-template-columns: 1fr;

        .item {
          padding: 10px;

          span,
          p {
            font-size: 14px;
          }

          p {
            font-size: 16px;
          }
        }

        .item:nth-child(5),
        .item:nth-child(6) {
          display: none;
        }
      }
    }

    .musicList {
      .items {
        .item {
          .info {
            p {
              display: none;
            }

            .details p {
              display: block;
            }
          }
        }
      }
    }
  }

  .favouriteArtists {
    .artists {
      .item:nth-child(5) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .trending {
    .left {
      .info {
        h2 {
          font-size: 24px;
        }

        h5 {
          display: block;
          font-size: 12px;
          margin-left: 0px;
        }

        .buttons {
          button {
            padding: 10px 12px;
            font-size: 12px;
          }

          i {
            height: 38px;
            width: 38px;
          }
        }
      }
    }
  }

  .onTime {
    flex-direction: column;

    .albums {
      width: 100%;

      .items {
        grid-template-columns: 1fr 1fr;

        .item {
          padding: 22px 10px;

          span,
          p {
            font-size: 13px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    .musicList {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(4) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .trending {
    img {
      width: 160px;
      height: 140px;
    }

    .left {
      .info {
        .buttons {
          button {
            padding: 10px;
            font-size: 10px;
          }

          i {
            height: 36px;
            width: 36px;
          }
        }
      }
    }
  }

  .onTime {
    .albums {
      .items {
        gap: 5px;

        .item {
          padding: 15px 8px;
          gap: 5px;

          img {
            width: 50px;
            height: 50px;
          }

          span,
          p {
            font-size: 12px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .musicList {
      width: 100%;
    }
  }

  .favouriteArtists {
    height: 50vh;

    .artists {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media screen and (max-height: 740px) {
  .favouriteArtists {
    .artists {
      .item:nth-child(5) {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .homeBox {
    height: calc(100dvh - 120px);
  }
}
