.LeftMenu {
    width: 280px;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    background: var(--bg-color3);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.LeftMenu .logoBox {
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: 2vh;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 3vh;

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

}

.LeftMenu .logoBox i {
    font-size: 25px;
}

.LeftMenu .logoBox i:nth-of-type(2) {
    font-size: 20px !important;
}

.LeftMenu .logoBox h2 {
    font-size: 22px;
}

.LeftMenu .searchBox {
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    color: var(--text-primary);
    overflow: hidden;
    border-radius: 10px;
    /*box-shadow: var(--shadow3);*/
}

.LeftMenu .searchBox input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.521);
    padding-left: 45px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

.LeftMenu .searchBox .searchIcon {
    position: absolute;
    color: aliceblue;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

.menuBox {
    margin: 15px 0;
}

.menuBox .title {
    color: var(--text-secondary4);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.menuBox ul {
    width: 100%;
    padding: 0;
}

.menuBox ul li {
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0;
    position: relative;
}

.menuBox ul li a {
    text-decoration: none;
    color: var(--text-secondary4);
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menuBox ul li a i {
    font-size: 18px;
    margin-right: 15px;
}

.menuBox ul li:before {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background: var(--button-color);
    border-radius: 5px;
}

.menuBox ul li:hover::before,
.menuBox ul li.active::before {
    width: 5px;
    transition: 0.3s;
}

.menuBox ul li:hover a,
.menuBox ul li.active a {
    color: var(--text-primary);
    transition: 0.3s;
}

.playListBox {
    cursor: pointer;
    margin: 15px 0;
}

.playListBox .nameBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-secondary4);
    margin-bottom: 10px;
}

.playListBox .nameBox p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.playListBox .nameBox i {
    cursor: pointer;
    color: var(--text-primary);
}

.playListBox .scrollBox {
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.playListBox .scrollBox .playList {
    display: flex;
    align-items: center;
    color: var(--text-secondary4);
    margin: 10px 0;
}

.playListBox .scrollBox .playList:hover {
    color: var(--text-primary);
    transition: 0.3s;
}

.playListBox .scrollBox .playList .iconP {
    margin-right: 15px;
}

.playListBox .scrollBox .playList .trash {
    margin-left: auto;
    transition: 0.3s;
}

.playListBox .scrollBox .playList .trash:hover {
    color: #ff0000;
}

.playListBox .scrollBox .playList i {
    font-size: 18px;
}

.playListBox .scrollBox .playList p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

.trackList {
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    padding-top: 20px;
    margin-top: auto;
}

.trackList .top {
    display: flex;
    align-items: center;

}

.trackList .top img {
    width: 50px !important;

}

.trackList .top .trackName {
    margin-left: 10px;
    color: var(--text-primary);
    font-size: 14px;
}

.trackList .top .trackName .trackArtist {
    display: block;
    font-size: 12px;
    color: var(--text-secondary5);
}

.trackList .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--text-secondary5);
}

.trackList .bottom i {
    font-size: 18px;
}

.trackList .bottom i:hover {
    color: var(--text-primary);
    transition: 0.3s;
    cursor: pointer;
}

.trackList .bottom input {
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--bg-color4);
    appearance: none;
}

.trackList .bottom input::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: greenyellow;
    width: var(--player-volume);
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}

.trackList .bottom input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: var(--text-primary);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
}

@media screen and (max-width: 1080px) {
    .LeftMenu {
        width: 64px;
        min-width: 64px;

        .logoBox {
            img {
                height: 40px;
                width: 40px;
            }
            h2 {
                display: none;
            }
        }
    }

    .LeftMenu .searchBox {
        display: none;
    }

    .LeftMenu .playListBox {
        display: none;
    }

    .LeftMenu .trackList {
        display: none;
    }

    .LeftMenu .menuBox ul li a span {
        display: none;
    }

    .LeftMenu .menuBox ul li a i {
        font-size: 26px;
    }

    .LeftMenu .menuBox ul li {
        margin: 25px 0;
    }

    .LeftMenu .logoBox h2 {
        margin-left: 20px;
    }
}

@media screen and (max-height: 760px) {

    .LeftMenu .searchBox {
        display: none;
    }
    .playListBox .scrollBox {
        height: 70px;

    }
}
