.loginLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.login {
    position: relative;
    width: 420px;
    max-height: 480px;
    min-height: 480px;
    border-radius: 10px;
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(30px);

    .formBox {
        width: 100%;
        padding: 40px;

        .cancel {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 26px;

            cursor: pointer;

            a {
                text-decoration: none;
                color: rgb(17, 15, 15);
            }
        }


        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px;

            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
            }

            h1 {
                font-size: 36px;
                text-align: center;
            }
        }

        .inputBox {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;

            input , select{
                width: 100%;
                height: 100%;
                color: white;
                font-size: 16px;
                background: transparent;
                border: none;
                outline: none;
                border: 2px solid rgba(255, 255, 255, 0.11);
                border-radius: 40px;
                padding: 20px 45px 20px 20px;
            }

            select{
                cursor: pointer;
                padding: 0 20px;

                option {
                    background-color: #333;
                    color: white;
                    padding: 10px;
                }
            }

            input::placeholder {
                color: white;
            }

            .icon {
                position: absolute;
                right: 20px;
                top: 50%;
                translate: 0 -50%;
                font-size: 16px;
            }
        }

        button {
            width: 100%;
            height: 45px;
            background: white;
            border: none;
            outline: none;
            border-radius: 40px;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
            font-size: 16px;
            color: rgb(0, 0, 0);
            font-weight: 700;
        }

        .registerLink {
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;

            a {
                color: white;
                text-decoration: none;
                font-weight: 600;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.login.r {
    min-height: 690px;
    max-height: 750px;
}

@media screen and (max-height: 800px) {
    .login.r {
        min-height: 600px;
        max-height: 680px;
        .formBox {
            padding: 20px 40px;

            .title {
                padding: 5px;
            }

            .inputBox {
                margin: 15px 0;
            }

            .registerLink {
                margin: 20px 0 5px;
            }
        }
    }
}