.mainBox {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: var(--bg-color10);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
}

.banner {
    height: 32vh;
    position: relative;
}

.banner .bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.banner .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.banner .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(transparent, rgb(0, 0, 0));
}

.banner .content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content .top p {
    color: var(--text-header);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner .content .top p span {
    color: white;
}

.banner .content .top i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.banner .content .artist {
    margin-top: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .content .artist .left .name {
    display: flex;
    align-items: center;
}

.banner .content .artist .left .name h2 {
    font-size: 50px;
}

.banner .content .artist .left .name img {
    width: 30px;
    margin-left: 10px;
}


.banner .content .artist .left p {
    font-size: 14px;
}

.banner .content .artist .left p i {
    margin-right: 6px;
}

.banner .content .artist .left p span {
    color: #919191;
    margin-left: 5px;
}


.banner .content .artist .right {
    display: flex;
    align-items: center;
}

.banner .content .artist .right button {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    margin: 0px 15px;
    border-radius: 100vh;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.banner .content .artist .right button i {
    margin-right: 10px;
    font-size: 12px;
}


.banner .content .artist .right button {
    background: var(--bg-color11);
    margin-right: 0;
    border: 1px solid rgba(255, 255, 255, 0.11);
}


.banner .content .artist .right button:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.411);
}

.banner .content .artist .right .follow {
    background: var(--button-color);
    color: black;
}

.banner .content .artist .right .following {
    background: transparent;
    color: var(--button-color);
    border: 1px solid aqua;
}

.mainBox .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: var(--bg-color12);
    z-index: 2;
    height: 5.5vh;
}

.mainBox .menuList ul {
    display: flex;
    align-items: center;
}

.mainBox .menuList ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.mainBox .menuList ul li a {
    text-decoration: none;
    color: var(--text-secondary3);
    font-size: 14px;
    font-weight: bold;
}


.mainBox .menuList ul li::before,
.mainBox .menuList ul li a.active::before{
    position: absolute;
    content: '';
    bottom: -20px;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background: var(--text-primary);
}

.mainBox .menuList ul li:hover::before,
.mainBox .menuList ul li a.active::before {
    width: 100%;
    transition: width 0.3s ease;
}

.mainBox .menuList ul li:hover a,
.mainBox .menuList ul li a.active {
    color: var(--text-primary);
    transition: 0.3s;
}

.mainBox .menuList p {
    color: var(--text-primary);
    font-size: 14px;
}

.mainBox .menuList p i {
    margin-right: 6px;
    font-size: 12px;
}

.mainBox .menuList p span {
    font-size: 12px;
    text-align: center;
    color: var(--text-secondary3);
    margin-left: 6px;
}

.audioList {
    padding: 10px 30px;
    position: relative;
    height: calc(72.5vh - 100px);
}

.audioList .title {
    font-size: 18px;
    color: var(--text-primary);
}

.audioList .title span {
    font-size: 12px;
    color: var(--text-secondary3);
}

.songsBox {
    height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.songsBox .songs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-secondary3);
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
}

.songsBox .songs:hover,
.songsBox .songs.active {
    color: var(--text-primary);
    transition: 0.3s;
}

.songsBox .songs .count {
    margin-right: 10px;
}

.songsBox .songs .song {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    padding-bottom: 5px;
    cursor: pointer;
}

.songsBox .songs .song .imgBox {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 0.5em;
    background: var(--bg-color13);
    margin-right: 10px;
    overflow: hidden;
}

.songsBox .songs .song .imgBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.songsBox .songs .song .section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.songsBox .songs .song .section .songName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.songsBox .songs .song .section .hits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songsBox .songs .song .section .hits .hit,
.songsBox .songs .song .section .hits .duration,
.songsBox .songs .song .section .hits .favourite,
.songsBox .songs .song .section .hits .deleteSong{
    margin-right: 15px;
}

.songsBox .songs .song .section .hits .hit i,
.songsBox .songs .song .section .hits .duration i {
    font-size: 12px;
    margin-right: 5px;
}

.songsBox .songs .song .section .hits .deleteSong:hover {
    color: red;
}

.songsBox .songs .song .section .hits .favourite svg {
    color: rgb(74, 189, 28);
    filter: drop-shadow(0px 0px 4px rgb(74, 189, 28));
}

.songsBox .songs .song .section .hits .addToPlayList {
    position: relative;
    .playLists {
        overflow-y: auto;
        color: var(--button-text);
        position: absolute;
        background: var(--text-primary);
        width: 15vh;
        height: 7vh;
        right: 0;
        padding: 0.5vh;
        font-weight: bold;
        border-radius: 10px;
        top: 2.5vh;
        z-index: 10;

        p {
            transition: 0.3s;
            border-radius: 10px;
            padding: 0.5vh;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p:hover {
            color: var(--button-color);
            background: var(--button-text);
        }
    }
}

.aboutArtist {
    max-height: 100vh;
    width: 100%;
    z-index: 1;
    flex-grow: 1;
    overflow: auto;
    p {
        width: 100%;
        color: var(--text-secondary2);
        font-size: 20px;
        padding: 2vh 4vh;
        word-wrap: break-word;
    }
}

.songs .duration {
    display: flex;
    align-items: center;
}

.songs .duration .clock-icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.songs.playing {
    box-shadow: var(--shadow5);
    background: var(--bg-color14);
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.songs.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.songs.disabled .songName {
    color: var(--text-secondary3);
}

@media screen and (max-width : 748px) {
    .mainBox {
        min-width: 380px;
        height: calc(100dvh - 60px);
    }

    .mainBox .content {
        padding: 10px 15px;
    }

    .mainBox .content .top p {
        font-size: 12px;
    }

    .mainBox .content .artist .left .name h2 {
        font-size: 25px;
    }

    .mainBox .content .artist .right a {
        padding: 5px 15px;
        font-size: 12px;
        margin: 0 10px;
    }

    .mainBox .menuList {
        padding: 10px 15px;
    }

    .mainBox .menuList ul li {
        margin: 0 5px;
    }

    .mainBox .menuList ul li a {
        font-size: 14px;
    }

    .mainBox .menuList p {
        font-size: 12px;
    }

    .mainBox .menuList p i {
        font-size: 10px;
    }

    .mainBox .menuList p span {
        margin-left: 0px;
        font-size: 10px;
        text-align: center;
        display: block;
    }

    .audioList {
        padding: 10px 5px;
    }

    .audioList .songsBox {
        height: calc(100% - 220px);
    }

    .audioList .songs .song .section {
        flex-direction: column;
        align-items: flex-start;
    }

    .audioList .songs .song .section .songName {
        width: 100%;
    }

    .audioList .songs .song .section .hits {
        margin-left: 0;
        margin-top: 10px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 950px) {
    .Banner {
        height: 240px !important;
        position: relative;
    }
}