.mainBox {
    height: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(31, 31, 31, 0.596);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
}

.banner {
    height: 300px;
    position: relative;
}

.banner .bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}

.banner .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.banner .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(transparent, rgb(0, 0, 0));
}

.banner .content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content .top p {
    color: rgb(129, 129, 129);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner .content .top p span {
    color: white;
}

.banner .content .top i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.banner .content .artist {
    margin-top: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .content .artist .left .name {
    display: flex;
    align-items: center;
}

.banner .content .artist .left .name h2 {
    font-size: 50px;
}

.banner .content .artist .left .name img {
    width: 30px;
    margin-left: 10px;
}


.banner .content .artist .left p {
    font-size: 14px;
}

.banner .content .artist .left p i {
    margin-right: 6px;
}

.banner .content .artist .left p span {
    color: rgb(129, 129, 129);
    margin-left: 5px;
}


.banner .content .artist .right {
    display: flex;
    align-items: center;
}

.banner .content .artist .right a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    margin: 0px 15px;
    border-radius: 100vh;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.banner .content .artist .right a i {
    margin-right: 10px;
    font-size: 12px;
}


.banner .content .artist .right a:nth-child(1) {
    background: rgb(74, 189, 28);
    margin-left: 0;
}

.banner .content .artist .right a:nth-child(2) {
    background: rgba(0, 0, 0, 0.589);
    margin-right: 0;
    border: 1px solid rgba(255, 255, 255, 0.11);
}


.banner .content .artist .right a:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.411);
}

.mainBox .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: rgb(44, 44, 44);
}

.mainBox .menuList ul {
    display: flex;
    align-items: center;
}

.mainBox .menuList ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.mainBox .menuList ul li a {
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 14px;
    font-weight: bold;
}


.mainBox .menuList ul li::before {
    position: absolute;
    content: '';
    bottom: -20px;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background: white;
}

.mainBox .menuList ul li:hover::before,
.mainBox .menuList ul li.active::before {
    width: 100%;
    transition: width 0.3s ease;
}

.mainBox .menuList ul li:hover a,
.mainBox .menuList ul li.active a {
    color: white;
    transition: 0.3s;
}

.mainBox .menuList p {
    color: white;
    font-size: 14px;
}

.mainBox .menuList p i {
    margin-right: 6px;
    font-size: 12px;
}

.mainBox .menuList p span {
    font-size: 12px;
    text-align: center;
    color: rgb(151, 151, 151);
    margin-left: 6px;
}

.audioList {
    padding: 10px 30px;
}

.audioList .title {
    font-size: 18px;
    color: white;
}

.audioList .title span {
    font-size: 12px;
    color: rgb(151, 151, 151);
}

.songsBox {
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.songsBox .songs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 151, 151);
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.songsBox .songs:hover,
.songsBox .songs.active {
    color: white;
    transition: 0.3s;
}

.songsBox .songs .count {
    margin-right: 10px;
}

.songsBox .songs .song {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    padding-bottom: 5px;
    cursor: pointer;
}

.songsBox .songs .song .imgBox {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 0.5em;
    background: rgb(49, 49, 56);
    margin-right: 10px;
    overflow: hidden;
}

.songsBox .songs .song .imgBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.songsBox .songs .song .section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.songsBox .songs .song .section .songName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.songsBox .songs .song .section .hits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songsBox .songs .song .section .hits .hit,
.songsBox .songs .song .section .hits .duration {
    margin-right: 15px;
}

.songsBox .songs .song .section .hits .hit i,
.songsBox .songs .song .section .hits .duration i {
    font-size: 12px;
    margin-right: 5px;
}



.songsBox .songs .song .section .hits .favourite i {
    color: rgb(74, 189, 28);
    filter: drop-shadow(0px 0px 4px rgb(74, 189, 28));
}