.musicPlayer {
    width: 100%;
    padding: 10px 50px 10px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: var(--bg-color15);
    z-index: 50;
    height: 100px;
}

.musicPlayer .songImage {
    width: 120px;
    min-width: 120px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.678);
}

.musicPlayer .songImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.musicPlayer .songAttributes {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.musicPlayer .songAttributes .top,
.musicPlayer .songAttributes .bottom {
    display: flex;
    align-items: center;
    width: 100%;
}

.musicPlayer .songAttributes .top {
    justify-content: space-between;
}

.musicPlayer .songAttributes .top .left {
    gap: 1vh;
}

.musicPlayer .songAttributes .top .left,
.musicPlayer .songAttributes .top .right {
    display: flex;
    align-items: center;
    color: var(--text-secondary2);
    font-size: 16px;
    cursor: pointer;
}

.musicPlayer .songAttributes .top .middle {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-secondary2);
    font-size: 16px;
    cursor: pointer;
}

.musicPlayer .songAttributes .top .middle .back,
.musicPlayer .songAttributes .top .middle .forward {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.musicPlayer .songAttributes .top .left i,
.musicPlayer .songAttributes .top .middle i,
.musicPlayer .songAttributes .top .right i {
    margin: 0;
    font-size: 18px;
}

.musicPlayer .songAttributes .top .left .loved {
    color: rgb(74, 189, 28) !important;
    filter: drop-shadow(0px 0px 4px rgb(74, 189, 28));
}

.musicPlayer .songAttributes .top .middle .back i:nth-child(2),
.musicPlayer .songAttributes .top .middle .forward i:nth-child(1) {
    color: var(--text-secondary4) !important;
}

.musicPlayer .songAttributes .top .middle .playPause {
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    background: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--button-text);
}

.musicPlayer .songAttributes .bottom {
    margin-top: 20px;
    padding: 0 15px;
    justify-content: space-between;
    gap: 1rem;
}

.musicPlayer .songAttributes .bottom .currentTime,
.musicPlayer .songAttributes .bottom .duration {
    color: var(--text-primary);
    font-size: 12px;
    font-weight: bold;
}

.musicPlayer .songAttributes .bottom .progresBar {
    width: 78%;
    height: 6px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(to right,
            var(--text-primary) 0%,
            var(--text-primary) var(--seek, 0%),
            #848484 var(--seek, 0%),
            #848484 100%);
    cursor: pointer;
}

.musicPlayer .songAttributes .bottom .progresBar::-webkit-slider-runnable-track {
    background: transparent;
    height: 6px;
    border-radius: 10px;
}

.musicPlayer .songAttributes .bottom .progresBar::-moz-range-track {
    background: var(--text-header);
    height: 6px;
    border-radius: 10px;
}

.musicPlayer .songAttributes .bottom .progresBar::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: 6px;
}

.musicPlayer .songAttributes .bottom .progresBar::-ms-fill-lower {
    background: var(--text-primary);
    border-radius: 10px;
}

.musicPlayer .songAttributes .bottom .progresBar::-ms-fill-upper {
    background: var(--text-header);
    border-radius: 10px;
}

.musicPlayer .songAttributes .bottom .progresBar::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-primary);
    cursor: pointer;
    margin-top: -4px;
}

.musicPlayer .songAttributes .bottom .progresBar::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-primary);
    cursor: pointer;
}

.musicPlayer .songAttributes .bottom .progresBar::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--text-primary);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 748px) {
    .musicPlayer {
        bottom: 60px;
    }
}

@media screen and (max-width: 550px) {
    .musicPlayer .songImage {
        width: 100px;
        min-width: 100px;
    }

    .musicPlayer .songAttributes .bottom .currentTime {
        margin-right: 0;
    }

    .musicPlayer .songAttributes .bottom .duration {
        margin-left: 0;
    }

    .musicPlayer .songAttributes .bottom {
        padding: unset;
    }

    .musicPlayer .songAttributes .bottom .progresBar {
        width: 65%;
    }
}

@media screen and (min-width: 550px) and (max-width: 1080px) {
    .musicPlayer .songImage {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }
}