.profileSite,
.profileEdit {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: var(--bg-color10);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .lineP {
        margin: 0 180px;
    }
}

.profileSite .posts {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2vh 16vh;
    flex-wrap: wrap;
    gap: 2vh;
    overflow: scroll;
    margin-top: 30px;

    .post {
        border: 1px solid var(--text-secondary6);
        height: 34vh;
        width: 31vh;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            background: rgba(5, 5, 5, 0.507);
            object-fit: cover;
        }
    }
}

.profileInfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;

    .userData {
        display: flex;
        align-items: center;
        gap: 100px;
        padding: 20px;


        img {
            width: 150px;
            height: 150px;
            background: rgb(98, 98, 104);
            border-radius: 50%;
            object-fit: cover;
        }

        .right {
            display: flex;
            flex-direction: column;
            .top,
            .stats,
            .description {
                display: flex;
                color: var(--text-primary);
                justify-content: space-between;
                gap: 20px;
                padding: 10px;
            }

            .top {
                align-items: center;
                height: 6vh;
                p {
                    font-size: 27px;
                    font-weight: bold;
                }

                button {
                    outline: none;
                    border: none;
                    padding: 10px 15px;
                    background: rgba(0, 0, 0, 0.521);
                    color: white;
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.1s;
                }

                .follow {
                    background: var(--button-color);
                    color: black;
                }
                .follow:hover, .following {
                    background: transparent;
                    border-block: 2px solid var(--button-color);
                    color: var(--button-color);
                }

                i {
                    font-size: 22px;
                    cursor: pointer;
                }
            }

            .description {
                flex-direction: column;
                gap: 5px;

                p {
                    font-size: 14px;
                    font-weight: bold;
                }

                span {
                    font-size: 12px;
                }

            }
        }
    }
}

.profileEdit .editDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .edit {
        border: 2px solid var(--text-primary);
        border-radius: 10px;
        background: var(--bg-color19);
        height: 66vh;
        width: 65vh;
        
        .title {
            width: 65vh;
            padding: 20px;
            text-align: center;

            h2 {
                font-size: xx-large;
                color: var(--text-primary);
                font-family: cursive;
                text-shadow: 5px 0 20px rgba(0, 0, 0, 0.6);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

        .editAvatar {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background: var(--bg-color10);

            .left {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 70px;
                    height: 70px;
                    background: rgb(29, 29, 31);
                    border-radius: 50%;
                    object-fit: cover;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                    color: var(--text-primary);
                }
            }

            .right {
                input {
                    display: none;
                }
                button {
                    outline: none;
                    border: none;
                    padding: 10px;
                    background: var(--button-color);
                    color: black;
                    font-size: 13px;
                    font-weight: bold;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                }

                button:hover {
                    background: var(--button-color-hover);
                }
            }
        }

        .editDescription, .editFullName {
            width: 80%;
            flex-direction: column;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background: var(--bg-color10);
            gap: 10px;

            h4 {
                font-size: 18px;
                font-weight: bold;
                color: var(--text-primary);
                margin-bottom: 5px;
            }

            textarea, input {
                width: 100%;
                border: none;
                outline: none;
                border-radius: 10px;
                padding: 10px;
                height: 12vh;
                background: var(--bg-color19);
                color: var(--text-primary);
                font-size: 14px;
            }
            
            input {
                height: 3vh;
            }
        }


    .submit {
        outline: none;
        border: none;

        padding: 10px 30px;
        border-radius: 10px;
        background: var(--button-color);
        color: black;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    .submit:hover {
        background: var(--button-color-hover);
    }
    }
    }
}

@media screen and (max-height: 1000px) {
    .profileEdit .editDiv {

        .edit {
            height: auto;
            padding-bottom: 2vh;

            form {

                .title {
                    padding: 10px;
                }

                .editAvatar {
                    padding: 15px;
                    margin: 5px 20px;

                    .left {
                        gap: 25px;
                    }
                }

                .editDescription, .editFullName {
                    padding: 15px;
                    margin: 10px 20px;
                    gap: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .profileSite {
        .posts {
            justify-content: center;
            padding: 2vh 1vh;
        }
        .postView {
            max-width: 100%;
            height: calc(100dvh - 40px);
            background: rgba(19, 19, 20, 0.98);
            top: 5vh;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
        }

        .imgPost {
            max-width: 100%;
            max-height: 40vh;
        }

        .commentsSection {
            flex: 7;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            overflow-y: hidden;
            height: 60vh;

            img {
                width: 35px;
                height: 35px;
            }

            p {
                font-size: 15px;
            }

            .comments {
            }

            .addComment {
                flex-shrink: 0;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .profileInfo {
        .userData {
            gap: 40px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .profileInfo {
        height: 300px;

        .userData {
            gap: 20px;
            padding: 10px;

            img {
                width: 130px;
                height: 130px;
            }

            .right {
                .top,
                .stats,
                .description {
                    gap: 10px;
                    padding: 10px;
                }

                .top {
                    p {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .profileSite .posts {
       .post {
           width: 25vh;
           height: 28vh;
       }
    }
}


@media screen and (max-width: 748px) {
    .profileSite, .profileEdit {
        height: calc(100dvh - 120px);
        .lineP {
            margin: 0px;
        }
    }

    .profileSite .posts {
        padding: 10px 20px;
        gap: 10px;
        margin-top: 30px;

        .post {
            height: 200px;
            width: 160px;
        }
    }

    .profileSite .postView {
        min-width: 100%;
        height: calc(100dvh - 180px);
    }

    .profileInfo {
        height: 300px;


        .userData {
            gap: 20px;
            padding: 10px 20px;

            img {
                width: 80px;
                height: 80px;
            }

            .right {

                .top,
                .stats,
                .description {
                    gap: 10px;
                    padding: 10px;
                }

                .stats {
                    text-align: center;

                    p {
                        font-size: 14px;
                    }

                }

                .description {
                    gap: 5px;

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    span {
                        font-size: 12px;
                    }

                }
            }
        }
    }


    .profileEdit .editDiv {
        .edit {
            height: 76vh;
            width: 45vh;

                .title {
                    width: 45vh;

                    h2 {
                        font-size: xx-large;
                    }
                }
            form {

                .editAvatar {
                    .left {
                        img {
                            width: 50px;
                            height: 50px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    .right {
                        button {
                            padding: 5px;
                            font-size: 11px;
                        }
                    }
                }

            }
        }
    }
}

