.profileSite,
.profileEdit {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    flex-grow: 1;
    background: rgba(31, 31, 31, 0.596);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    hr {
        margin: 0 180px;
    }
}

.profileSite .posts {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px 180px;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
    margin-top: 30px;

    .post {
        border: 1px solid yellow;
        height: 320px;
        width: 280px;

        img {
            width: 100%;
            height: 100%;
            background: rgba(5, 5, 5, 0.507);
            object-fit: cover;
        }
    }
}

.profileInfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;

    .userData {
        display: flex;
        align-items: center;
        gap: 100px;
        padding: 20px;


        img {
            width: 150px;
            height: 150px;
            background: rgb(98, 98, 104);
            border-radius: 50%;
            object-fit: cover;
        }

        .right {
            display: flex;
            flex-direction: column;
            .top,
            .stats,
            .description {
                display: flex;
                color: white;
                justify-content: space-between;
                gap: 20px;
                padding: 10px;
            }

            .top {
                align-items: center;
                height: 6vh;
                p {
                    font-size: 27px;
                    font-weight: bold;
                }

                button {
                    outline: none;
                    border: none;
                    padding: 10px 15px;
                    background: rgba(0, 0, 0, 0.521);
                    color: white;
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.1s;
                }

                .follow {
                    background: aqua;
                    color: black;
                }
                .follow:hover, .following {
                    background: transparent;
                    border-block: 2px solid aqua;
                    color: aqua;
                }

                i {
                    font-size: 22px;
                    cursor: pointer;
                }
            }

            .description {
                flex-direction: column;
                gap: 5px;

                p {
                    font-size: 14px;
                    font-weight: bold;
                }

                span {
                    font-size: 12px;
                }

            }
        }
    }
}

.profileEdit .editDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .edit {
        border: 2px solid white;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.411);
        height: 66vh;
        width: 65vh;
        
        .title {
            width: 65vh;
            padding: 20px;
            text-align: center;

            h2 {
                font-size: xx-large;
                color: white;
                font-family: cursive;
                text-shadow: 5px 0 20px black;
            }
        }

        .editAvatar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background: rgba(54, 54, 54, 0.644);

            .left {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 70px;
                    height: 70px;
                    background: rgb(29, 29, 31);
                    border-radius: 50%;
                    object-fit: cover;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
            }

            .right {
                input {
                    display: none;
                }
                button {
                    outline: none;
                    border: none;
                    padding: 10px;
                    background: aqua;
                    color: black;
                    font-size: 13px;
                    font-weight: bold;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                }

                button:hover {
                    background: rgb(4, 214, 214);
                }
            }
        }

        .editDescription, .editFullName {
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background: rgba(54, 54, 54, 0.644);
            gap: 10px;

            h4 {
                font-size: 18px;
                font-weight: bold;
                color: white;
            }

            textarea, input {
                border: none;
                outline: none;
                border-radius: 10px;
                padding: 10px;
                height: 12vh;
                background: rgba(0, 0, 0, 0.404);
                color: rgb(184, 179, 179);
                font-size: 14px;
            }
            
            input {
                height: 3vh;
            }
        }
    }

    .submit {
        outline: none;
        border: none;
        margin-left: 27vh;
        padding: 10px 40px;
        border-radius: 10px;
        background: aqua;
        color: black;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    .submit:hover {
        background: rgb(4, 214, 214);
    }
}



@media screen and (max-width: 550px) {
    .profileSite {
        hr {
            margin: 0px;
        }
    }

    .profileSite .posts {
        padding: 10px 20px;
        gap: 10px;
        margin-top: 30px;

        .post {
            height: 200px;
            width: 160px;
        }
    }

    .profileInfo {
        height: 300px;
        justify-content: left;

        .userData {
            gap: 20px;
            padding: 10px 20px;

            img {
                width: 80px;
                height: 80px;
            }

            .right {

                .top,
                .stats,
                .description {
                    gap: 10px;
                    padding: 10px;
                }

                .stats {
                    text-align: center;

                    p {
                        font-size: 14px;
                    }

                }

                .description {
                    gap: 5px;

                    p {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    span {
                        font-size: 12px;
                    }

                }
            }
        }
    }


    .profileEdit .editDiv {
        .edit {
            height: 76vh;
            width: 45vh;
    
            .title {
                width: 45vh;
            
                h2 {
                    font-size: xx-large;
                }
            }
    
            .editAvatar {
                .left {
                    img {
                        width: 50px;
                        height: 50px;
                    }
    
                    p {
                        font-size: 16px;
                    }
                }
    
                .right {
                    button {
                        padding: 5px;
                        font-size: 11px;
                    }
                }
            }
        }
    
        .submit {
            margin-left: 17vh;
            padding: 10px 30px;
        }
    }
}