.rightMenu {
    height: 100vh;
    width: 100px;
    min-width: 100px;
    z-index: 1;
    background: var(--bg-color5);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.103);
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
}

.rightMenu .top,
.rightMenu .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.rightMenu .top i,
.rightMenu .profile i,
.rightMenu .profile p {
    margin: 20px 0;
    color: var(--text-primary);
    text-align: center;
    font-size: 20px;
    position: relative;
}

.rightMenu .profile p {
    font-weight: bold;
}

.rightMenu .top i p span {
    color: var(--text-header);
    margin-right: 5px;
}

.rightMenu .top i.has-unseen::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0;
    right: 0;
    background: #45ab2e;
}


.rightMenu .top i:hover .rightMenu .profile i:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.rightMenu .top i p {
    font-size: 14px;
}

.rightMenu .profile .profileImg {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.6);
}

.rightMenu .profile .profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightMenu .notificationsBox {
    position: absolute;
    width: 30vh;
    height: 100vh;
    background: var(--bg-color6);
    top: 0;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    h5 {
        color: var(--text-primary);
        font-weight: bold;
        font-size: 24px;
    }
    hr {
        width: 100%;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .notificationsList {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2vh;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    .notificationsListItem {
        display: flex;
        align-items: center;
        gap: 0.5vh;
        background: rgba(48, 48, 48, 0.83);
        border-radius: 10px;
        padding: 1vh;
        color: var(--text-secondary2);
        width: 100%;
        position: relative;
    }

    .notificationsListItem img {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        object-fit: cover;
    }

    .notificationsListItem i {
        position: absolute;
        top: 0.5vh;
        right: 0.5vh;
        font-size: 18px;
        cursor: pointer;
        color: wheat;
    }

    .notificationData {
        width: 72%;
        padding: 0 1vh;
        border-radius: 5px;
        overflow: hidden;
    }

    .notificationData p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #cdcdcd;
        line-height: 1.2em;
        max-height: 5em;
        margin: 0;
        word-break: break-word;
        white-space: normal;
    }

    .notificationsListItem span {
        color: var(--text-secondary3);
        font-size: 0.9em;
    }


}

@media screen and (max-width: 1080px) {
    .rightMenu {
        min-width: 64px;
        width: 64px;

        .profile {
            .loginBtn {
                font-size: 12px;
            }
        }

        .notificationsBox {
            right: 64px;
            width: 25vh;
            padding: 1vh 1.5vh;

            .notificationData {
                width: 70%;
            }
        }
    }

    .rightMenu .top i p span {
        font-size: 11px;
    }

}