.searchBox {
    width: 260px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 20px;
    color: aliceblue;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.384);
}

.searchBox input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.521);
    padding-left: 45px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

.searchBox .searchIcon {
    position: absolute;
    color: aliceblue;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .searchBox {
        margin: 20px auto 0 auto;
        width: 320px !important;
    }
}